.container {
    margin: 0 auto ;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: beige;
    padding: 10px;
     box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
     border-radius: 4px;
}

.contact-header {
    font-size: 12px;
}